#root,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f5f9;
  padding: 1rem;
}
